@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(../public/bg.jpeg)
}
#\:r3\: > div > div > div > div > div.cl-internal-b3fm6y{
  display: none;
}
.cl-internal-hegiim {
  opacity: 0 !important;
}
#__next > div > div.componentContainer > div > div > div.cl-internal-hegiim{
  opacity: 0 !important;
}
